*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 50%;
    height: 50vh;
    background-color: #cecece;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

.medio{
    width: 100px;
    height: 100px;
    background-color:#323454;
}

